<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}Employees Application{% endblock %}</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/site.js"></script>
</head>

<body class="bg-dark text-white">

    <header>
        <div class="container">
            <a href="#" id="logo">
                <img src="images/logo.png">

            </a>
            <nav id="navbar">
                <ul>

                    <li>
                        <a href="sign-in.html">أنشاء حساب جديد</a>

                    </li>

                    <li class="current">
                        <a href="login.html">تسجيل الدخول</a>
                    </li>

                    <li>
                        <a href="index.html">الرئسية</a>
                    </li>


                </ul>

            </nav>


        </div>
    </header>
    <!--end of header-->

    <h1 class="text-center">
          قائمة المتبرعين للجمعية
      </h1>

    <div class="table">
        <table class="customers rtl">
            <tr>
                <th> اسم المتبرع  </th>
                <th>العنوان  </th>
                <th>رقم الجوال</th>
                <th>تاريخ اخر تبرع </th>
            </tr>

            <tr>
                <td> فاعل خير 1 </td>
                <td>العزيزية</td>
                <td>05012345678</td>
                <td>2023/5/4</td>
       
            </tr>
            <tr>
                <td> فاعل خير 2 </td>
                <td>الحمراء</td>
                <td>0501234444</td>
                <td>2023/5/4</td>

          
            </tr>
            <tr>
                <td> فاعل خير 3 </td>
                <td>الشهداء</td>
                <td>05012345678</td>
                <td>2023/5/4</td>

            
            </tr>
        </table>
    </div>









    <footer>
        <div class="container">
            <a href="#" id="logo">
                <img src="images/logo.png">
            </a>
            <h5> معلومات التواصل</h5>

            <a href="#">
                <img src="images/instagram_48px.png">
            </a>
            <a href="#">
                <img src="images/twitter_48px.png">
            </a>
            <a href="#">
                <img src="images/phone_32px.png">
            </a>
            <p>جميع الحقوق محفوظةو الحافظ الله &copy;</p>

        </div>
    </footer>

    <!-- end -->


    <div class="container">
        <div class="row">

        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>


</html>