<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}Employees Application{% endblock %}</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/site.js"></script>
</head>
<body class="bg-dark text-white">

        <header>
                <div class="container">
                    <a href="#" id="logo">
                        <img src="images/logo.png">
                        
                    </a>
                    <nav id="navbar">
                        <ul>    
                            
                            <li>
                            <a href="sign-in.html">أنشاء حساب جديد</a>
                            
                            </li>

                            <li class="current">
                                <a href="login.html">تسجيل الدخول</a>
                                </li>

                            <li >
                                <a href="index.html">الرئسية</a>
                                </li>
                            
                        
                        </ul>
                        
                    </nav>
                    
                    
                    </div>
                </header><!--end of header-->

                <h1 class="text-center">
                    بيانات التبرع للجمعية
                  </h1>

                    <div class="table">
                     
                        <table class="customers">
                            <tr>
                                <th>الموافقة</th>
                                <th>تغيير الحالة </th>
                                <th>حالة التبرع </th>
                                <th>وزن الكيس الواحد </th>
                                <th>عدد أكياس التبرع</th>
                                <th>تاريخ التبرع</th>
                                <th>اسم الحملة </th>
                                <th> هاتف المتبرع </th>

                                <th>اسم المتبرع </th>
                              </tr>
    
                              <tr>
                                  <form>
                                    <td><button type="submit">
                                        تغيير
                                    </button></td>
                                    <td><select name="status" id="stauts">
                                        <option value="done">تم التبرع</option>
                                        <option value="done">مرفوض </option>
  
  
  
                                    </select></td>
                               

                                  </form>
                                  
                                <td>قيد التنفيذ</td>
                                <td>5kg</td> 
                                <td>10</td>
                                <td>2021/5/3</td>
                                <td>زكاة الفطر </td>
                                <td> 0501231232 </td>

                                <td>محمد </td>
                              </tr>
                              <tr>
                                <form>
                                    <td><button type="submit">
                                        تغيير
                                    </button></td>
                                    <td><select name="status" id="stauts">
                                        <option value="done">تم التبرع</option>
                                        <option value="done">مرفوض </option>
  
  
  
                                    </select></td>
                               

                                  </form>
                                <td>مكتملة</td>
                                <td>10kg</td>
                                <td>6</td>
                                <td>2021/5/3</td>

                                <td>زكاة الفطر </td>
                                <td> 0501231232 </td>

                                <td>علي </td>
                              </tr>
                              <tr>
                                <form>
                                    <td><button type="submit">
                                        تغيير
                                    </button></td>
                                    <td><select name="status" id="stauts">
                                        <option value="done">تم التبرع</option>
                                        <option value="done">مرفوض </option>
  
  
  
                                    </select></td>
                               

                                  </form>
                                <td>مكتملة</td>
                                <td>10kg</td>
                                <td>4</td>
                                <td>2021/5/3</td>

                                <td>زكاة الفطر </td>
                                <td> 0501231232 </td>

                                <td>يوسف</td>
                              </tr>

                        </table>
                    </div>
    
       <div class="table">

        <table class="customers">
            <tr>
              <th>عدد الأكياس المطلوبة</th>
              <th>الكمية المتبقية</th>
            </tr>
            <tr>
              <td>100</td>
              <td>5</td>
            </tr>
           
        
          </table>

       </div>             



                               


                
                <footer>
                        <div class="container">
                                <a href="#" id="logo">
                                        <img src="images/logo.png">  
                                    </a>
                                    <h5> معلومات التواصل</h5>

                                    <a href="#" >
                                        <img src="images/instagram_48px.png">  
                                    </a>
                                    <a href="#" >
                                        <img src="images/twitter_48px.png">  
                                    </a>
                                    <a href="#"  >
                                        <img src="images/phone_32px.png">  
                                    </a>
                                    <p>جميع الحقوق محفوظةو الحافظ الله  &copy;</p>
                         
                        </div>
                    </footer>

                    <!-- end -->

                
<div class="container">
    <div class="row">
        
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>


</html>