{% extends 'base.html' %}
{% load static %}
{% block header %}
    <header>
        <div class="container">
            <a href="#" id="logo">
                <img src="{% static 'images/logo.png' %}" alt="logo">
            </a>
            <nav id="navbar">
                <ul>
                    <li>
                        <a href="{% url 'all_details' %}">بيانات المتبرعين</a>
                    </li>
                    <li>
                        <a href="{% url 'all_requests' %}">بيانات التبرع</a>
                    </li>
                    <li>
                        <a href="{% url 'new_campaign' %}">إضافة حملة</a>
                    </li>
                    <li>
                        <a href="{% url 'sign_in' %}">أنشاء حساب جديد</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">تسجيل الدخول</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}">الرئيسية</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header><!--end of header-->
{% endblock %}